
 <!-- <h1>Welcome</h1>  -->
 <!-- <button mat-button>Primary</button> -->
 
<!-- <app-home></app-home> 
 <app-interpolation></app-interpolation>
<app-property-binding></app-property-binding>
<app-class-binding></app-class-binding>
<app-style-binding></app-style-binding> 
<app-event-binding></app-event-binding>
<app-two-waydatabinding></app-two-waydatabinding>
<app-if></app-if>
<app-switch></app-switch>
<app-for></app-for>
<app-parent></app-parent>
<app-parent></app-parent>

<app-life-cycle-hooks *ngIf="isVisible" [myNumber]="counter"></app-life-cycle-hooks>
<button type="button" class="btn btn-primary" (click)="increment()">+1</button>
<button type="button" class="btn btn-warning" (click)="decrement()">-1</button>
<button type="button" class="btn btn-info" (click)="SwitchVisibility()">destroy</button>
-->
<!-- <router-outlet></router-outlet> -->
<!-- <app-admin-home></app-admin-home> -->

<!-- <app-tdf></app-tdf> -->

<app-api-calls></app-api-calls>